
<section class="lh-title mb7">            
    <p>
        Blockfront is a decentralized intelligence layer for the Ethereum blockchain ecosystem.
        The Blockfront protocol provides usability and visibility as infrastructure. Blockfront is made for developers, traders, investors, and other network participants.
        The Blockfront protocol addresses ecosystem intelligence for Ethereum in 3 areas:
    </p>

    <ol>
        <li>Network visibility and ecosystem context</li>
        <li>Data accessibility, decentralization, and trust</li>
        <li>Query performance and usability</li>
    </ol>

    <p>
        On-demand access to actionable metrics and contextual analysis means Blockfront is the foundation for a new generation of network-driven smart contracts, crypto-products, and dApps. Powered by a resilient and incentive-driven network of data suppliers and validators. All towards the premise of a global supercomputer.
    </p>

    <p>
        Our team consists of product developers, blockchain investors, and infrastructural thinkers. Blockfront represents our collective belief in the Ethereum network and in the promise of a global supercomputer. Brand design is led by Edouard Urcades. Communications is led by Toby Shorin. Technology is led by Patrick Steadman. Product and operations is led by Darren Kong. Business Development is led by Benjamin Griffith.
    </p>

    <p>For jobs, investment, and all other inquiries:</p>

    <ul>
        <li>information@blockfront.io</li>
        <li>Subscribe to Blockfront Updates</li>
    </ul>
</section>